table, th, td {
    border: 1px solid rgb(38, 0, 70);
    /* border-collapse: collapse; */
}
    
.header_e {
    width: 60%;
  margin: 1 auto;
  background-color: rgb(207, 161, 250);
  float:left;
}    
.footer_e {
    width: 64%;
    margin: 1 auto;
    background-color: rgb(203, 147, 255);
    float:left;
    font-size: small;
    
}

.home2 {
    width: 50%;
  margin: 0 auto;
  margin-left: 200px;
  font-size: large;
  color: rgb(36, 0, 70);
}    

.r1 {
    padding:20px;
     float:left; 
     margin-left: 150px;
}
.r2 {
    padding:20px;
     float:left; 
     margin-left: 90px;
}

footer {
    background: rgb(203, 147, 255);
    height: 70px;
}

header {
    background: rgb(207, 161, 250);
    height: 70px;
}

td {
    text-align: center;
  }
  main {
      background-color: rgb(225, 203, 255);
  }
